@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');



* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}



body {
  font-family: 'Poppins', sans-serif;
}


.titulo_home {
  color: white;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.sub_titulo_home {
  color: white;
  font-weight: 800;
  font-size: 1rem;
}

/* --------------- Navegacion eyncor (HOME) --------------------  */
.nav_eycnor {
  background-color: #114568;
  opacity: 0.9;
  color: white;
  top: 0;
  width: 100%;
  position: fixed;
  z-index: 1000;
 
}

.cardContainer{
  z-index: 1;
}


.nav_eycnor img {
  padding: 0;
  margin: 0;
  max-width: 100%;
  height: auto;
  /* Maintain aspect ratio */
}


/* Revisar banner */

.banner_global {
  filter: brightness(0.6);

}

.menu_eyncor {
  background-color: #114568;
  z-index: 1000;
}


/* Botones eyncor */

.btn_acceso {
  background-color: #0B66C2;
  width: 180px;
  height: 40px;
  border-radius: 8px;
}



.btn_contacto {
  background-color: #0C6EFD;
  width: 120px;
  height: 40px;
  border-radius: 8px;
  font-size: 1rem;
}


.btn_contacto_select {
  background-color: #0B66C2;
  height: 40px;
  color:  white;
  border-radius: 8px;
  font-size: 14px;
}

.btn_contacto:hover{
  background-color: #1466b8;
}



.btn_acceso_header {
  background-color: #ffffff;
  color: #0B66C2;
  border-radius: 8px;
}

.btn_acceso_header:hover {
  background-color: #0B66C2;
  color: #ffff;
}



/* z index para la navegacion  (css del carrusel) */
.custom-z-index {
  position: relative;
  z-index: 10;
}

/* Carrusel de movimientos y translado de la las letras  */


/* abosulte translate-x-2/4 text-left top-1/2  left-0  p-52*/


.eyncor_titulo {
  font-weight: 700;
  color: #242F65;
}

.eyncor_sunat_text {
  font-weight: 700;
}

/*.eycnor_sunat {
  position: relative;
  display: inline-block;
  text-align: center;
}*/

.eyncor_sunat_texo {
  position: absolute;
  top: 45%;
  left: 30%;
  transform: translate(-50%, -50%);
  width: 50%;
  text-align: left;
}

.eyncor-footer {
  background-color: #010D27;
  color: white;
}

.desc {
  white-space: pre-line;
}


/* Slider de empresas */



.slider {
  display: flex;
  justify-items: center;
  align-items: center;
  margin-bottom: 4rem;
}

.logo-slider {
  padding: 10px 0px;
  overflow: hidden;
  width: 90%;
  margin: 0 auto;
  position: relative;
  display: flex;
  border-radius: 10px;
  z-index: -1;

}

.logo-slider:hover div {
  animation-play-state: paused;
}

.logo-slider div {
  display: flex;
  position: relative;
  align-items: center;
  animation: marquee 15s linear infinite;
  justify-content: space-around;
}

.logo-slider div img {
  display: block;
  min-width: 100px;
  aspect-ratio: 1;
  height: 60px;
  margin: 0 2vw;

}

.logo-slider div img:hover {
  filter: grayscale(0);
}

#bmw,
#bmw2,
#mercedes,
#mercedes2,
#skoda,
#skoda2,
#subaru,
#subaru2,
#toyota,
#toyota2,
#vw,
#vw2 {
  height: 100px;
  width: 180px;
}

#chevrolet,
#chevrolet2 {
  height: 120px;
  width: 200px;
}

#hyundai,
#hyundai2 {
  height: 100px;
  width: 200px;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-100%);
  }
}

/* Testimonial empresas */

.testimonials {
  display: flex;
  justify-content: center;
  overflow: hidden;
  padding: 20px;
  width: 100%;
  position: relative;
  z-index: -1;
}


.circle_testimonios {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: solid gray .5px;
  box-shadow: rgba(0, 0, 0, 0);
}

.testimonial-slider {
  display: flex;
  width: 100%;
  animation: slide 30s linear infinite;
}

.testimonial-card {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  min-width: 500px;
  margin: 0 10px;

}

.testimonial-text {
  font-size: 1rem;
  color: #333;
  font-weight: 300;
}

.testimonial-author {
  margin-top: 10px;
  font-size: 1.2rem;
  font-weight: bold;
  color: #555;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}


/* Carrusel de empresas  */

/* Empresas 01 */

.contenedor_carrusel_general {
  display: flex;
  justify-content: center;
  overflow: hidden;
  padding: 20px;
  width: 100%;
  position: relative;
  z-index: -1;
}

.contenedor_carrusel {
  width: 200px;
  object-fit: cover;
  box-shadow: rgba(0, 0, 0, 0);
}

.carrusel-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.carrusel-slider {
  display: flex;
  width: 100%;
  animation: carrusel 30s linear infinite;
}

@keyframes carrusel {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0);
  }
}

/* Empresa 02 */





.carrusel-slider02 {
  display: flex;
  width: 100%;
  animation: carrusel02 30s linear infinite;
}

@keyframes carrusel02 {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }

}




















/* -------------------------------------------  */










/*  Nosotros   */

.eyncor_container_general {
  background-color: #F9F9F9;
}

.btn_nostros_eyncor {
  background-color: #0B66C2;
  font-size: 1rem;
  width: 180px;
  height: 40px;
  border-radius: 8px;
  color: #FFFF
}

/* --------------------------------- Productos -------------------------  */

/* Cards productos */

.grifo_modulo_general {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  cursor: pointer;
}

.modulo_contometro {
  background-color: #9C27B0;

}

.modulo_soporte {

  background-color: #00BCD4;

}

.modulo_tanques {

  background-color: #46A44C;

}

.modulo_actualizacion {
  background-color: #FF9800;

}

.modulo_gestion {

  background-color: #F33528;

}

.modulo_contabilidad {
  background-color: #E91E63;
}

.eyncor_square {
  position: relative;
  border-radius: 8px;
  bottom: 20px;
  background-color: rgb(228, 228, 228);
  opacity: 0.9;
}




.circulo_opacity {
  background-color: white;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  opacity: 0.6;
}

.ejemplo {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}

.filterButton {
  background-color: #114568;
  opacity: 0.5;
  color: white;
  margin-bottom: 3rem;
}


/* Card Overlay */
.container {
  position: relative;
  width: 50%;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  background-color: black;
  opacity: 1;
  color: white;
}

.contenido_overlay {
  background-color: #1B4A68;
  width: 400px;
  height: 400px;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

.linea-cetificado {
  margin: auto;
}

table {
  max-width: 800px;
  /* Ancho máximo de 800px */
  margin: 0 auto;
  /* Centrar la tabla horizontalmente */
}

.table {
  border-left: 2px solid #5cc2e7;
  /* Thicker black border on the left */
  border-right: 2px solid #5cc2e7;
  border-top: 2px solid #5cc2e7;
  border-bottom: 2px solid #5cc2e7;
}

.custom-file-input {
  position: relative;
  display: inline-block;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
}

.custom-file-input input[type="file"] {
  left: 0;
  top: 0;
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}

.custom-file-input label {
  display: block;
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  /* Add some rounded corners for a nicer look */
}

.custom-file-input label:hover {
  background-color: #eee;
}

/* Spinner */


.loader {
  transform: rotateZ(45deg);
  perspective: 1000px;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  color: #fff;
}

.loader:before,
.loader:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  border-radius: 50%;
  transform: rotateX(70deg);
  animation: 1s spin linear infinite;
}

.loader:after {
  color: #FF3D00;
  transform: rotateY(70deg);
  animation-delay: .4s;
}

@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotateZ(0deg);
  }

  100% {
    transform: translate(-50%, -50%) rotateZ(360deg);
  }
}

@keyframes rotateccw {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  100% {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}

@keyframes spin {

  0%,
  100% {
    box-shadow: .2em 0px 0 0px currentcolor;
  }

  12% {
    box-shadow: .2em .2em 0 0 currentcolor;
  }

  25% {
    box-shadow: 0 .2em 0 0px currentcolor;
  }

  37% {
    box-shadow: -.2em .2em 0 0 currentcolor;
  }

  50% {
    box-shadow: -.2em 0 0 0 currentcolor;
  }

  62% {
    box-shadow: -.2em -.2em 0 0 currentcolor;
  }

  75% {
    box-shadow: 0px -.2em 0 0 currentcolor;
  }

  87% {
    box-shadow: .2em -.2em 0 0 currentcolor;
  }
}


.brochure {
  width: 250px;
  height: 40px;
  display: block;
  margin: auto;
  border-radius: 8px;
  color: white;
  background-color: #0B66C2;
}


.demo_eyncor{
  width: 250px;
  height: 40px;
  display: block;
  margin: auto;
  border-radius: 8px;
  color: white;
  background-color: #0B66C2;
}

.demo_eyncor:hover{
  background-color: #3991e9;
}



.brochure:hover{
   background-color: #3991e9;
}

.cardsProductos{
  width: 250px;
  height: 40px;
  display: block;
  margin: auto;
  border-radius: 8px;
  color: white;
  background-color: #0B66C2;
}


.Contenedor {
  height: 50px;
  padding: 1rem;
  border-radius: 8px;
}


.preview-container {
  position: absolute;
  width: 600px;
  height: 600px;
  z-index: 1000;
}

.preview-iframe {
  width: 100%;
  height: 100%;
}

.preview-link:hover + .preview-container,
.preview-container:hover {
  display: block;
}

/* Diseño del forms para el chatbot */

.inputChat{
  border: 2px black;
  background-color: rgba(222, 222, 222, 0.845);
  border-radius: 4px;
  height: 50px;
}

.inputDescripcion{
  border: 2px black;
  background-color: rgba(222, 222, 222, 0.845);
  border-radius: 4px;
  height: 70px ;
}


.chaBotBoton{ 
  background-color: #0B66C2;
  width: 100px;
  height: 40px;
  border-radius: 8px;
  font-size: 16px;
  color: white;
}


.subTitulo{
 
 background-color: #023A5B;

}

.cabecera-item{
  background-color: #023A5B;
  color: white;
  text-align: center;
}

.empresas-blue{
  background-color: #EFF7FC;
}

.empresas-white{
  background-color: white;
}


.containerUtiles li{
  color: #0B66C2;
}